/*Main page sections backgrounds */

.main .fullpage section:nth-child(2){
  background-image: url(../images/main_2.jpg);
}
.main .fullpage section:nth-child(3){
  background-image: url(../images/about_6.jpg);
}
.main .fullpage section:nth-child(4){
  background-image: url(../images/about_12.jpg)
}


/*About page sections backgrounds */

.about .fullpage section:nth-child(2){
  background-image: url(../images/about_2.jpg);
}
.about .fullpage section:nth-child(3){
  background-image: url(../images/about_3.jpg);
}
.about .fullpage section:nth-child(4){
  background-image: url(../images/about_4.jpg);
}
.about .fullpage section:nth-child(5){
  background-image: url(../images/about_5.jpg);
}
.about .fullpage section:nth-child(6){
  background-image: url(../images/about_6.jpg);
}
.about .fullpage section:nth-child(7){
  background-image: url(../images/about_7.jpg);
}
.about .fullpage section:nth-child(8){
  background-image: url(../images/about_8.jpg);
}
.about .fullpage section:nth-child(9){
  background-image: url(../images/about_9.jpg);
}
.about .fullpage section:nth-child(10){
  background-image: url(../images/about_9.jpg);
}
.about .fullpage section:nth-child(11){
  background-image: url(../images/about_11.jpg);
}
.about .fullpage section:nth-child(12){
  background-image: url(../images/about_12.jpg);
}

/*History page sections backgrounds */

.history .fullpage section:nth-child(2){
  background-image: url(../images/about_12.jpg);
}

/*Historical_flats page sections backgrounds */
